{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>
<ul>
<li><a href="/curso-introduccion-php/user/add">Add User</a></li>
<li><a href="/curso-introduccion-php/jobs/add">Add Jobs</a></li>
</ul>
<br>
<br>
<br>
<a href="/curso-introduccion-php/logout">logout</a>
{% endblock %}
