{% extends "layout.twig" %}

{% block content %}
<h1>Loggin</h1>
<div class="alert alert-primary" role="alert">
{{responseMessage}}
</div>
<div>  
    <form action="/curso-introduccion-php/auth" method="post">
        <label for="">Email</label>
        <input type="text" name="email" placeholder="Email"><br>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
</div>


{% endblock %}